@model Biblioteka_Gier_Planszowych.Models.Gra_Planszowa

@{
    ViewData["Title"] = "Edytuj";
}
<div id="hajeden">
<h1>Edytuj</h1>
</div>
<h4>Gra_Planszowa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edytuj">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" class="form-control" type="hidden" value="@ViewBag.gra.Id" />

            <div class="form-group">
                <label asp-for="Tytuł" class="control-label"></label>
                <input asp-for="Tytuł" class="form-control" value="@ViewBag.gra.Tytuł" />
                <span asp-validation-for="Tytuł" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Wydawca" class="control-label"></label>
                <input asp-for="Wydawca" class="form-control" value="@ViewBag.gra.Wydawca" />
                <span asp-validation-for="Wydawca" class="text-danger"></span>
            </div>
        <div id="separator">
        </div>
            <div class="form-group">
                <label asp-for="Gatunek" class="control-label"></label>
                <select asp-for="Gatunek" value="@ViewBag.gra.Gatunek">
                    <option value="Strategiczna">Strategiczna</option>
                    <option value="Przygodowa">Przygodowa</option>
                    <option value="Imprezowa">Imprezowa</option>
                    <option value="Rodzinna">Rodzinna</option>
                    <option value="Dla Dzieci">Dla Dzieci</option>
                    </select> 
                <span asp-validation-for="Gatunek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" value="@ViewBag.gra.Opis" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
        <div id="separator">
        </div>
            <div class="form-group">
                <input type="submit" value="Zapisz Zmiany" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
        <div id="separator">
        </div>
<div>
    <a asp-action="Biblioteka">Wróć do biblioteki</a>
</div>

